
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Header navigation */
header {
  width: 100%;
  position: relative;
}

/* Work section */
section,
header,
div,
article,
img,
main {
  display: block;
}

section {
  position: relative;
  width: 100%;
}

ul {
  list-style: none;
}
