ul {
  list-style: none;
}

.wrapper {
  margin: 0 auto;
  padding-right: 16px;
  padding-left: 16px;
  width: 100vw;
  height: auto;
}

.hamburger {
  display: block;
}

.bar {
  border-radius: 5px;
  background-color: #28352f;
  display: block;
  height: 0.126rem;
  margin: 0.3125rem auto;
  transition: all 0.3s ease-in-out;
  width: 1.562rem;
}

.main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
  flex-flow: row nowrap;
}

.logo a {
  color: #28352f;
  text-decoration: none;
}

section.hero {
  background-image: url('../images/header-illsutration-mobile.png');
  background-repeat: no-repeat;
  width: 100%;
  height: 650px;
  position: relative;
}

.headline-desc {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
}

.headline-desc h1 {
  height: 192px;
  width: 327px;
  padding: 15px 24px 63px 24px;
  font-size: 40px;
  font-style: normal;
  line-height: 52px;
  letter-spacing: 0;
  text-align: center;
  color: #172b4d;
}

.headline-desc h1 span {
  color: #3db682;
}

.headline-desc p {
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #172b4d;
  margin: 58px 0;
}

.about-me-container p {
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #172b4d;
  margin: 28px 0;
}

.headline-desc h1 p {
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #172b4d;
}

section.about-me {
  margin-top: 30px;
  position: relative;
}

.about-me-container {
  position: relative;
  top: -70px;
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  background-image: url('../images/illustration- about me- mobile.png');
  background-position: left;
  background-repeat: no-repeat;
}

.about-me-icon {
  float: right;
}

.about-me-container h1 {
  width: 327px;
  padding: 15px 24px 10px 24px;
  font-size: 40px;
  font-style: normal;
  line-height: 52px;
  letter-spacing: 0;
  text-align: center;
  color: #172b4d;
  margin: 0;
}

.about-me-container h1 p {
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #172b4d;
}

.social-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.social-links li {
  padding: 0 8px;
}

.social-links i {
  color: #505f79;
}

section.recent-works {
  margin-top: 20px;
}

.recent-works .dropdown {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recent-works h2 {
  color: #172b4d;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  margin-right: 2rem;
  margin-left: 2rem;
}

span.bottom {
  height: 4px;
  width: 48px;
  background: #36b37e;
  border-radius: 24px;
  text-align: center;
  display: block;
}

.allprojects-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
}

.project-container-card {
  background: #ebf0ee;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  margin-top: 1.5rem;
  height: 474px;
  position: relative;
}

.project-desc-tech-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 222px;
  position: absolute;
  bottom: 0;
  background: #fff;
  border-radius: 8px;
  width: 100%;
}

h4.project-desc {
  color: #3a4a42;
  margin: 16px 0;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  text-align: center;
}

.tech-list-container {
  display: flex;
  justify-content: space-around;
  flex-flow: row nowrap;
  align-items: center;
  width: 100%;
}

.tech-list-container .tech-list {
  padding: 8px 12px;
  border-radius: 4px;
  background: #ebf0ee;
  margin: 0 6px;
}

.tech-list .tech-name {
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  color: #3a4a42;
}

.btn {
  user-select: none;
  outline: none;
  cursor: pointer;
  padding: 12px;
  border: none;
}

.btn.btn-projects {
  margin-top: 20px;
  margin-bottom: 10px;
  background: #36b37e;
  color: #fff;
  font-size: 16px;
  min-width: 122px;
  letter-spacing: 0.03em;
  text-align: center;
  border-radius: 4px;
  align-self: center;
}

.programming-skills {
  border-radius: 8px;
  background-color: #ebf0ee;
  border: 1px solid #c1c7d0;
  max-width: 327px;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 50px;
  margin-top: 20px;
}

.language-img {
  width: 80px;
  height: 80px;
  background: #fff;
  box-shadow: 0 16px 24px rgba(37, 47, 137, 0.08);
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  vertical-align: middle;
}

.skills-name {
  margin-top: 45px;
  text-align: center;
}

.skills-name h5 {
  font-size: 24px;
  font-weight: 600;
  color: #344563;
  margin: 24px 0;
}

.tech-skill-name {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: space-around;
}

li.lang-skill-name {
  border-radius: 8px;
  background-color: #fff;
  padding: 12px;
  margin: 5px 8px;
}

li.lang-skill-name p {
  color: #36b37e;
  font-weight: 600;
  font-size: 12px;
}

div.contact-me {
  margin-top: 52px;
  position: relative;
}

.contact-me h2.heading {
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  color: #172b4d;
}

.contact-form {
  margin-top: 40px;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.form-group {
  width: 100%;
  height: 48px;
  border-radius: 4px;
  padding: 6px;
  margin: 15px 0;
}

.form-control {
  width: 100%;
  height: inherit;
  outline: none;
  user-select: none;
  padding: 8px;

}

.text-group {
  width: 100%;
  text-align: center;
  margin: 12px;
}

textarea {
  width: 100%;
  height: 114px;
  border-radius: 4px;
}

.text-group textarea {
  width: 97%;
  user-select: none;
  outline: none;
  padding: 8px;
  margin-bottom: 8px;
  border: 1px solid #60c095;
  border-radius: 4px;
}

.btn.btn-form-submit {
  background-color: #3db682;
  color: white;
  width: 129px;
  height: 48px;
  font-weight: bold;
  font-size: 17px;
  text-align: center;
  border-radius: 6px;
}

.footer-img {
  position: absolute;
  bottom: 3.5%;
  right: 0;
}

::placeholder {
  font-size: 15px;
  color: #172b4d;
  padding-left: 14px;
}

.footer {
  padding-top: 40px;
}

.gmail {
  display: flex;
  position: absolute;
  font-size: 20px;
  padding-top: 20px;
  color: #42526e;
  font-weight: 600;
  justify-content: center;
  right: 69px;
}
